{% extends 'base.html' %}

{% block content %}
    <div class="container py-5">
        <h3>회원가입</h3>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.name }} " name="{{ field.name }}">
                </div>
                {% if field.errors %}
                <p class="" style="color:red">{{ field.errors }}</p>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
{% endblock %}